{% extends 'base.html'%}

{%block body%}
<div class="container-fluid my-3">
    <div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/4.jpeg" class="d-block w-100" height="600" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Welcome to Pranav car showroom</h5>
        <p>The automobile is the most lifelike thing we have ever created</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/1.jpeg" class="d-block w-100" height="600" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>NO.1 showroom in india</h5>
        <p>you will never go empty hand</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/3.jpg" class="d-block w-100" height="600" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>wroom wroom</h5>
        <p></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


<div class="album py-5 bg-body-tertiary">
    <div class="container my-1" >
      <h1 class="text-center">
        MERCEDES
        <p class="text-center">select from your favourite car</p>
      </h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
           <img src="/static/20.jpg" class="d-block w-100" height="300" alt="...">
            <div class="card-body">
              <p class="card-text">Mercedes-Benz G-63 Amg</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Price-3.30 crore</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">colour-Black</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="/static/11.jpeg" class="d-block w-100" height="190" alt="...">
            <div class="card-body">
              <p class="card-text">Mercedes-Benz was founded in 1926 by Karl Benz, Gottlieb Daimler, Wilhelm Maybach and Emil Jellinek, whose daughter Mercedes is our original namesake. With offices in 93 locations worldwide and a corporate headquarters in Stuttgart, Germany, our global presence continues to grow.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/21.jpg" class="d-block w-100" height="300" alt="...">
            <div class="card-body">
              <p class="card-text">Mercedes-Benz  maybach s class</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Price-Rs. 2.69 - 3.40 Crore </button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">colours Available</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
           <img src="/static/22.jpg" class="d-block w-100" height="300" alt="...">
            <div class="card-body">
              <p class="card-text">Mercedes-Benz  AMG SL</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Price-Rs. 2.35 Crore</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Colours Available</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/23.jpeg" class="d-block w-100" height="300" alt="...">
            <div class="card-body">
              <p class="card-text">mercedes-benz A class limousine</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Price-Rs. 42.00 - 44.00 Lakh</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Colours-Black,White</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/24.jpg" class="d-block w-100" height="300" alt="...">
            <div class="card-body">
              <p class="card-text">Mercedes-Benz AMG GLE 53</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Price-Rs. 1.71 Crore </button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Colours Available</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock body%}


